- provide(:title, "processor | Post process")
%h1 Post your process
= form_for @procedure, url: procedures_path, remote: true, html: {class: 'ui form'} do |f|
  .field
    = f.label :title
    = f.text_field :title

.field.ui.top.attached.tabular.menu#tab
  %a.active.item{ 'data-tab' => "search" }
    Search fragments
  %a.item{ 'data-tab' => "upload" }
    Upload your video
.ui.bottom.attached.active.tab.segment{ 'data-tab' => "search" }
  = form_tag search_index_path, method: :get, remote: true, class: 'ui form grid' do
    .four.wide.column
      = text_field_tag :keyword, '',  placeholder: 'Search'
    .two.wide.column
      = button_tag 'Search', class: 'ui submit button'
  #search_results
    Results
    .ui.segments
.ui.bottom.attached.tab.segment{ 'data-tab' => "upload" }
  = form_for @fragment, url: user_fragments_path(current_user.id), remote: true, html: {class: 'ui form'} do |f|
    .field
      = f.label :title
      = f.text_field :title

      = f.label :video
      = f.file_field :video, accept: 'video/*'

      = f.hidden_field :video_id, value: 1

    .field
      = f.label :description
      = f.text_area :description

    .field
      = f.submit "Upload", class: 'ui submit button'

= form_for @procedure, url: procedures_path, html: {class: 'ui form'} do |f|
  #flow.field
    = f.label :fragment_ids, 'Selected fragments'
    = f.hidden_field :fragment_ids, value: session[:selected_fragments]
    .ui.stacked.segments
      = render partial: 'selected_fragment', collection: @selected_fragments, as: :selected_fragment

  .field
    = f.label :description
    = f.text_area :description

  .field
    = f.submit "Post", class: 'ui submit button'
