- provide(:title, "processor | Post process")
%h1 Post your process
= form_for @procedure, url: procedures_path, html: {class: 'ui form'} do |f|
  .field
    = f.label :title
    = f.text_field :title

  #flow

  .field.ui.top.attached.tabular.menu#tab
    %a.active.item{ 'data-tab' => "search" }
      Search fragments
    %a.item{ 'data-tab' => "upload" }
      Upload your video
  .ui.bottom.attached.active.tab.segment{ 'data-tab' => "search" }
    Search fragment
  .ui.bottom.attached.tab.segment{ 'data-tab' => "upload" }
    = fields_for @fragment, url: user_fragments_path(current_user.id), remote: true, html: {class: 'ui form'} do |f_fragment|
      .field
        = f_fragment.label :title
        = f_fragment.text_field :title

        = f_fragment.label :video
        = f_fragment.file_field :video, accept: 'video/*'

      .field
        = f_fragment.label :description
        = f_fragment.text_area :description

      .field
        = f_fragment.submit "Upload", class: 'ui submit button'

  .field
    = f.label :description
    = f.text_area :description

  .field
    = f.submit "Post", class: 'ui submit button'
