.ui.inverted.vertical.masthead.center.aligned.segment
  .ui.container
    .ui.large.inverted.menu
      %h3.header.item
        = link_to 'processor', root_path
      .right.menu
        - if logged_in?
          = link_to 'Users', users_path, class: 'item'
          = link_to current_user.name, current_user, class: 'item'
          .ui.pointing.dropdown.link.item
            Setting
            %i.dropdown.icon
            .menu
              = link_to 'Edit profile', edit_user_path(current_user), class: 'item'
              = link_to 'Log out', logout_path, class: 'item', method: 'delete'
        - else
          = link_to 'Login', login_path, class: 'item'
          = link_to 'Sign up', signup_path, class: 'item'
